{% extends 'base.html' %}
{% block title %}Account Home{% endblock %}
    
{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
            <h1>{{ user.fname }} {{ user.lname }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 sidebar-div">
            

            <div id="reviews">
                <h3>Your reviews</h3>
                {% if not user.reviews %}
                    <p>You have not reviewed any landlords yet.</p>
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRatingForm">
                    Rate a landlord
                    </button>

                {% else %}

                {% for review in user.reviews %}
                   <article><b>Landlord: <a href="/landlord/{{review.landlord.landlord_id}}">{{ review.landlord.fname }} {{ review.landlord.lname }}</a></b><br>
                    Address: {{ review.address.street }}, {{ review.address.city }}, {{ review.address.state }}<br>
                    Maintenance and Repairs: {{ review.rating1 }}<br>
                    Responsiveness: {{ review.rating2 }}<br>
                    Pest Management: {{ review.rating3 }}<br>
                    Respect in Communications: {{ review.rating4 }}<br>
                    Fairness in Rent Increases: {{ review.rating5 }}<br>
                    Comment: {{ review.comment }}<br>
                   </article><hr>
                {% endfor %}
                {% endif %}
            </div>
        </div> <!-- close left column -->

    <div class="col-xs-12 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 sidebar-div">
        <div id="convos">
        <h3>Your conversations</h3>
        {% if not user.conversations %}
            <p>You have not started any conversations yet</p>
        {% else %}
        {% for convo in user.conversations %}
            <article><b>{{ convo.subject }}</b><br>
                {% for message in convo.messages %}
                   Sent by user {{ message.user[0].user_id }} at {{ message.sent_at }}: 
                   <br>
                <p>{{ message.content }}</p> <br>
                {% endfor %}
              <!--   Get other participant in convo -->
                {% for participant in convo.participants %}
                    {% if session['user'] != participant.user_id %}
                        <a href="/send-message/{{ participant.user_id }}"><button class="btn btn-default" id="send-message">Message this user</button></a>
                    {% endif %}
                {% endfor %}

            </article><hr>
        {% endfor %}
        {% endif %}
        </div>
    </div>
    

{% endblock %}