<!DOCTYPE HTML>
<head>
    <title>{% block title %}TITLE{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    {% block styles %} {% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href='/login'>Log in</a> 
    <a href='/signup'>Sign up</a> 
    <a href='/logout'>Log out</a>
    <a href='/lookup'>Look up a landlord</a> 
    <a href='/account-home'>Account home</a>

    {% block content %}BODY CONTENT
    
    {% endblock %}
</body>