{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

  <div class="container-fluid">
    
    <div class="row">
      
      <div class="col-xs-12 col-md-4 col-lg-4 sidebar-div">

      <!-- Button for modal form window -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRatingForm">
           Rate a landlord
        </button> -->
        <h1>Recent reviews</h1>
     
        <div id='results-sidebar'>

        </div> <!-- close results -->

        
      </div> <!-- close col containing content -->

      <div class="col-xs-12 col-md-8 col-lg-8 no-right-padding"> 
        <div id="map" class="map"></div> 
      </div> <!-- close col containing map -->
    
    </div> <!-- close row -->

  </div> <!-- close container -->

{% endblock %}

{% block pagescripts %}
  <script>
    $.get('/get_recent_reviews', displayReviews);
  </script>

<script>
    // Functions having to do with the map
    var myLayer = L.mapbox.featureLayer().addTo(map);

    // Add geocoder search input
    var geocoderControl = L.mapbox.geocoderControl('mapbox.places', {
                                                    keepOpen: true,
                                                    autocomplete: true
                                                    });
    geocoderControl.addTo(map);
    $('.leaflet-control-mapbox-geocoder-form input').attr('placeholder', 'Search by address');
    $('.leaflet-control-mapbox-geocoder-form input').addClass('form-control');

    // Request addresses as GeoJSON and add to map
    $.get('/all_addresses.json', createLayer);

    function createLayer(results) {
      var geojson = results.features;
      myLayer.setGeoJSON(geojson);
      myLayer.eachLayer(function(place) {
        var properties = place.feature.properties;
        var popup = '<h3>Address</h3><div>' + properties.address + '<br>'
          var landlords = properties.landlords;
          for (var i = 0; i < landlords.length; i++) {
            // if (reviews.hasOwnProperty(reviews[i])) {
              popup += '<br><b>Landlord: <a href="/landlord/' + landlords[i].landlordID +'">' + landlords[i].firstName + ' ' + landlords[i].lastName +'</a></b><br>Average rating: ' + landlords[i].averagerating || 'No ratings yet';
            // }
            
          }

        place.on('click', function() {
            // center the map on the selected marker.
            map.setView(place.getLatLng(), 12);
        });

        popup += '</div>';
        place.bindPopup(popup);
      });
    }


    function processGeocodeSelect(res) {
      console.log(res);

      //TO DO: Handle if user presses enter instead of selecting from results

      // Put selected place name in the input field
      input = $('.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input ');

      input.val(res.feature.place_name);

      var resAddress = res.feature.address + ' ' + res.feature.text;
      // console.log(resAddress);
      var city = res.feature.context[1].text;
      // console.log(city);
      var state = res.feature.context[3].text;
      // console.log(state);

      var address = { street: resAddress, city: city, state: state };

      $.get('/lookup-by-address.json', address, showLandlords);

      var found = false;
      var msg = 'There are no reviews for that address.';

      // If a marker that matches the feature exists, open the tooltip
      myLayer.eachLayer(function(place) {
          // close any open popups
          place.closePopup();
          if (resAddress == place.feature.properties.address) {
            map.setView(place.getLatLng(), 13);
            place.openPopup();
            found = true;
            msg = '';
          }
      });
      console.log(msg);
      if (msg != '') {
        alert(msg);
      }
    }


    // When a user selects the location, show it as a point on the map
    geocoderControl.on('select', processGeocodeSelect);
    // geocoderControl.on('autoselect', processGeocodeSelect);
    
  </script>
{% endblock %}