{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block styles %}
    <style>
        .map {
            border-left:1px solid #fff;
            position:absolute;
            left:33.3333%;
            width:66.6666%;
            top:0;
            bottom:0;
        }
        .hide {display:none;}
    </style>
 
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <div id="map" class="map"></div>
    <div id="content">
        <!-- Button to show lookup landlord by name -->
        <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalSearchByNameForm">
        Search for a landlord by name
       </button><br> -->

        <!-- Form to search by name -->
        <!-- <div class="modal fade" id="modalSearchByNameForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Search for a landlord by name</h4>
                </div>
                <div class="modal-body"> -->
                    <form id="search-by-name">
                        <label>Enter landlord's first name:</label>
                        <input type="text" id="fname-field" name="fname" placeholder="first name"></input><br>
                        <label>Enter landlord's last name:</label>
                        <input type="text" id="lname-field" name="lname" placeholder="last name"></input><br>
                        <input type="submit" class="btn btn-primary" value="Search"></input>
                    </form>

                <!-- </div> 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Search"></input>
                </form>
                </div>
            </div>
          </div>
        </div> -->

        <!-- div to display results -->
        <div id='results'>
            <div id="results-message"></div>
            <button class="hide" id="add-address-btn">Add address</button>
            <button class="hide" id="add-landlord-btn">Add landlord</button>
        </div>


        <div id='add-landlord-div' class='hide'>
            <form id="add-landlord-form">
                <label>Enter landlord's first name:</label>
                <input type="text" id="fname-field-add" name="fname-add" value=""></input>
                <br>
                <label>Enter landlord's last name:</label>
                <input type="text" id="lname-field-add" name="lname-add" value=""></input><br>
                <input type="submit" value="Add landlord"></input>
            </form>

        </div>


        <!-- Button for modal form window -->
       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalRatingForm">
         Rate a landlord
       </button>

        <!-- Modal form window -->
        <div class="modal fade" id="modalRatingForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a review</h4>
              </div>
              <div class="modal-body">
                
                {% if 'user' in session %}

            <form id="modal-review-form">
                  <label><b>Landlord:</b></label>
                    <label>Enter landlord's first name:</label>
                    <input type="text" id="fname-field-review" name="fname" placeholder="first name"></input><br>
                    <label>Enter landlord's last name:</label>
                    <input type="text" id="lname-field-review" name="lname" placeholder="last name"></input><br>

            <!--    # TO DO: add button to do ajax call to check if landlord in databse
                    # Allow user to choose to add landlord to databse if they don't exist
                    # OR: Just add the landlord if they don't exist. -->

                  <label><b>Address:</b></label>
                    <input type="text" name="street-number" placeholder="1234">
                    <input type="text" name="street-name" placeholder="Main St">
                    <input type="text" name="city" placeholder="San Francisco">
                    <input type="text" name="state" placeholder="California">
                    <input type="text" name="zipcode" placeholder="00000">
                    <input type="text" name="country" placeholder="United States"><br>

                  <label>When did you move in? (optional)
                    <input type="date" name="move-in" placeholder="mm/dd/yyyy">
                  </label><br>
                   <label>When did you move out (optional)?
                    <input type="date" name="move-out" placeholder="mm/dd/yyyy">
                  </label><br>

                  <b>Please rate on the following criteria:</b><br>
                  <label>Maintenance and repairs
                      <input type="radio" name="rating1" value="1"> 1 
                      <input type="radio" name="rating1" value="2"> 2 
                      <input type="radio" name="rating1" value="3"> 3 
                      <input type="radio" name="rating1" value="4"> 4 
                      <input type="radio" name="rating1" value="5"> 5 
                  </label><br>
                  <label>Responsiveness
                      <input type="radio" name="rating2" value="1"> 1 
                      <input type="radio" name="rating2" value="2"> 2 
                      <input type="radio" name="rating2" value="3"> 3 
                      <input type="radio" name="rating2" value="4"> 4 
                      <input type="radio" name="rating2" value="5"> 5 
                  </label></br>
                  <label>Pest management
                      <input type="radio" name="rating3" value="1"> 1 
                      <input type="radio" name="rating3" value="2"> 2 
                      <input type="radio" name="rating3" value="3"> 3 
                      <input type="radio" name="rating3" value="4"> 4 
                      <input type="radio" name="rating3" value="5"> 5 
                  </label></br>
                   <label>Respect in communications
                      <input type="radio" name="rating4" value="1"> 1 
                      <input type="radio" name="rating4" value="2"> 2 
                      <input type="radio" name="rating4" value="3"> 3 
                      <input type="radio" name="rating4" value="4"> 4 
                      <input type="radio" name="rating4" value="5"> 5 
                  </label></br>
                   <label>Rent increases
                      <input type="radio" name="rating5" value="1"> 1 
                      <input type="radio" name="rating5" value="2"> 2 
                      <input type="radio" name="rating5" value="3"> 3 
                      <input type="radio" name="rating5" value="4"> 4 
                      <input type="radio" name="rating5" value="5"> 5 
                  </label></br>
                  <label>Comment
                      <input type="text" name="comment" placeholder="Your comment here">
                  </label>
                <input type="submit" value="Submit">
            </form>

  {% else %}
    <p>You must be logged in to rate a landlord. Please <a href="/login">log in.</a></p>
  {% endif %}


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

<script>
            // Functions to lookup by name or address and show list of landlords

        function showLandlords(results) {

            console.log(results);

            if (results == "found-no-landlords") {
                $('#results-message').empty();
                $('#results-message').prepend('<p>Could not find any landlords matching your search.</p>');
                $('#add-landlord-btn').removeClass('hide');
            }
                
            else if (results == "found-no-addresses") {
                $('#results-message').empty();
                $('#results-message').prepend('<p>Could not find any addresses matching your search.</p>');
                $('#add-address-btn').removeClass('hide');
            }

            else if(results == "found-address-no-reviews") {
                $('#results-message').empty();
                $('#results-message').prepend('<p>No reviews exist for this address yet.</p>');
            }
                
            // Otherwise display each landlord as a link to the page for that landlord
            else {
                $('#results-message').empty();
                for (var landlordID in results) {
                    if (results.hasOwnProperty(landlordID)) {
                        $('#results-message').append("<p>Landlord: <a href='/landlord/"+ landlordID + "'> " + results[landlordID]['fname'] + " " + results[landlordID]['lname'] + "</a> </p>");
                    }
                }
            }
        }

        // function lookupByAddress(evt) {
        //     evt.preventDefault();
        //     var address = $('#search-by-address').serialize();
        //     console.log(address)
            
        //     $.get('/lookup-by-address.json', address, showLandlords);
        //     console.log("Finished sending address");
        // }

        function lookupByName(evt) {
            evt.preventDefault();
            var name = $('#search-by-name').serialize();

            $.get('lookup-by-name.json', name, showLandlords);
            console.log("Finished sending name");
            $('#modalSearchByNameForm').modal('hide');
        }

        function showAddressForm(evt) {
            console.log("clicked add address button");
            $("#add-address-div").removeClass('hide');
            $("#street-field-add").attr('value', $('#street-field').val());
            $("#city-field-add").attr('value', $('#city-field').val());
            $("#state-field-add").attr('value', $('#state-field').val());
        }

        function showLandlordForm(evt) {
            console.log("clicked add landlord button");
            $("#add-landlord-div").removeClass('hide');
            $("#fname-field-add").attr('value', $('#fname-field').val());
            $("#lname-field-add").attr('value', $('#lname-field').val());
        }

        function addAddress(evt) {
            evt.preventDefault();
            var name = $('#add-address-form').serialize();

            $.post('/add-new-address.json', name, function (results) {
                alert(results);

            $('#results').html('');

            });
        }

        function addLandlord(evt) {
            evt.preventDefault();
            var name = $('#add-landlord-form').serialize();

            $.post('/add-new-landlord.json', name, function (results) {
                alert(results);

            $('#results').html('');
            });
        }

        // $("#search-by-address").on("submit", lookupByAddress);

        $("#search-by-name").on("submit", lookupByName);

         // When add landlord button is clicked, show the form to add landlord

        // When user finishes entering landlord last name in modal review form, check if landlord in database
        $('#lname-field-review').on('blur', function() {
            var fname = $('#fname-field-review').val();
            var lname = $('#lname-field-review').val();
            var name = {fname: fname, lname: lname};

          $.get('/lookup-by-name.json', name, displayResultsMessage);
        });

        $("#add-landlord-btn").on("click", showLandlordForm);

        // When add address button is clicked, show the form to add addresses
        $("#add-address-btn").on("click", showAddressForm);
        
        // Process landlord when add landlord form is submitted
        $("#add-landlord-form").on("submit", addLandlord);

        // Process address when add address button is submitted
        $("#add-address-form").on("submit", addAddress);



    function displayResultsMessage(results) {
        alert(results);
    }

    $('#modal-review-form').on('submit', function (evt) {
        evt.preventDefault();
        var inputs = $('#modal-review-form').serialize();
        $.post('/process-rating2.json', inputs, displayResultsMessage);
    })
</script>



<script>
    // Initialize the map
    L.mapbox.accessToken = 'pk.eyJ1Ijoibm1hcmdvbGlzODkiLCJhIjoiY2lnbXZlem9xMDAzdDZjbTM4a2tteXdzMSJ9.j6aj2wMzUUb8FZR1XMBiBg';

    var map = L.mapbox.map('map', 'mapbox.streets')
      .setView([37.7871, -122.4216], 12);

    var myLayer = L.mapbox.featureLayer().addTo(map);

    // Add geocoder search input
    var geocoderControl = L.mapbox.geocoderControl('mapbox.places', {
                                                    keepOpen: true,
                                                    autocomplete: true
                                                    });
    geocoderControl.addTo(map);
    $('.leaflet-control-mapbox-geocoder-form input').attr('placeholder', 'Search by address');

    // Request addresses as GeoJSON and add to map
    $.get('/all_addresses.json', createLayer);

    function createLayer(results) {
      var geojson = results.features;
      myLayer.setGeoJSON(geojson);
      myLayer.eachLayer(function(place) {
        var properties = place.feature.properties;
        var popup = '<h3>Address</h3><div>' + properties.address + '<br>'
          var landlords = properties.landlords;
          for (var i = 0; i < landlords.length; i++) {
            // if (reviews.hasOwnProperty(reviews[i])) {
              popup += '<br><b>Landlord: <a href="/landlord/' + landlords[i].landlordID +'">' + landlords[i].firstName + ' ' + landlords[i].lastName +'</a></b><br>Average rating: ' + landlords[i].averagerating;
            // }
            
          }

        place.on('click', function() {
            // center the map on the selected marker.
            map.setView(place.getLatLng(), 12);
        });

        popup += '</div>';
        place.bindPopup(popup);
      });
    }


    function processGeocodeSelect(res) {
      console.log(res);

      //TO DO: Deal with error if nothing found
      //TO DO: Handle if user presses enter instead of selecting from results
      //TO DO: Close all tooltips that may be open

      // Put selected place name in the input field
      input = $('.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input ');

      input.val(res.feature.place_name);

      var resAddress = res.feature.address + ' ' + res.feature.text;
      console.log(resAddress);
      var city = res.feature.context[1].text;
      console.log(city);
      var state = res.feature.context[3].text;
      console.log(state);

      var address = { street: resAddress, city: city, state: state };

      $.get('/lookup-by-address.json', address, showLandlords);

      var found = false;
      var msg = 'There are no reviews for that address.';

      // If a marker that matches the feature exists, open the tooltip
      myLayer.eachLayer(function(place) {
          if (resAddress == place.feature.properties.address) {
            map.setView(place.getLatLng(), 12);
            place.openPopup();
            found = true;
            msg = '';
          }
      });
      if (msg != '') {
        alert(msg);
      }
    }


    // When a user selects the location, show it as a point on the map
    geocoderControl.on('select', processGeocodeSelect);
    // geocoderControl.on('autoselect', processGeocodeSelect);
    
  </script>
{% endblock %}