{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block styles %}
    <style>

        .hide {display:none;}
    </style>
 
{% endblock %}
{% block content %}
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4 sidebar-div">

      <!-- Button for modal form window -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalRatingForm">
           Rate a landlord
        </button>

        <h1>Recent reviews</h1>
     
        <div id='results-sidebar'>

        </div> <!-- close results -->

        
      </div> <!-- close col containing content -->

      <div class="col-xs-12 col-md-8 col-lg-8 no-right-padding"> 
        <div id="map" class="map"></div> 
      </div> <!-- close col containing map -->
    </div> <!-- close row -->

  </div> <!-- close container -->

<script>

//       // Functions to lookup by name or address and show list of landlords

//     function showLandlords(results) {

//         console.log(results);

//         if (results == "found-no-landlords") {
//             $('#results-message').empty();
//             $('#results-message').prepend('<p>Could not find any landlords matching your search.</p>');
//             $('#add-landlord-btn').removeClass('hide');
//         }
            
//         else if (results == "found-no-addresses") {
//             $('#results-message').empty();
//             $('#results-message').prepend('<p>Could not find any addresses matching your search.</p>');
//             $('#add-address-btn').removeClass('hide');
//         }

//         else if(results == "found-address-no-reviews") {
//             $('#results-message').empty();
//             $('#results-message').prepend('<p>No reviews exist for this address yet.</p>');
//         }
            
//         // Otherwise display each landlord as a link to the page for that landlord
//         else {
//             $('#results-message').empty();
//             for (var landlordID in results) {
//                 if (results.hasOwnProperty(landlordID)) {
//                     $('#results-message').append("<p>Landlord: <a href='/landlord/"+ landlordID + "'> " + results[landlordID]['fname'] + " " + results[landlordID]['lname'] + "</a> </p>");
//                 }
//             }
//         }
//     }

//           // function lookupByAddress(evt) {
//           //     evt.preventDefault();
//           //     var address = $('#search-by-address').serialize();
//           //     console.log(address)
              
//           //     $.get('/lookup-by-address.json', address, showLandlords);
//           //     console.log("Finished sending address");
//           // }

//     function lookupByName(evt) {
//         evt.preventDefault();
//         var name = $('#search-by-name').serialize();

//         $.get('lookup-by-name.json', name, showLandlords);
//         console.log("Finished sending name");
//         $('#modalResultsWindow').modal('show');
//     }

//     function showAddressForm(evt) {
//         console.log("clicked add address button");
//         $("#add-address-div").removeClass('hide');
//         $("#street-field-add").attr('value', $('#street-field').val());
//         $("#city-field-add").attr('value', $('#city-field').val());
//         $("#state-field-add").attr('value', $('#state-field').val());
//     }

//     function showLandlordForm(evt) {
//         console.log("clicked add landlord button");
//         $("#add-landlord-div").removeClass('hide');
//         $("#fname-field-add").attr('value', $('#fname-field').val());
//         $("#lname-field-add").attr('value', $('#lname-field').val());
//     }

//     function addAddress(evt) {
//         evt.preventDefault();
//         var name = $('#add-address-form').serialize();

//         $.post('/add-new-address.json', name, function (results) {
//             alert(results);

//         $('#results').html('');

//         });
//     }

//     function addLandlord(evt) {
//         evt.preventDefault();
//         var name = $('#add-landlord-form').serialize();

//         $.post('/add-new-landlord.json', name, function (results) {
//             alert(results);

//         $('#results').html('');
//         });
//     }

//       // $("#search-by-address").on("submit", lookupByAddress);

//     $("#search-by-name").on("submit", lookupByName);

//     // When user finishes entering landlord last name in modal review form, check if landlord in database
//     $('#lname-field-review').on('blur', function() {
//         var fname = $('#fname-field-review').val();
//         var lname = $('#lname-field-review').val();
//         var name = {fname: fname, lname: lname};

//       $.get('/lookup-by-name.json', name, displayResultsMessage);
//     });

//     $("#add-landlord-btn").on("click", showLandlordForm);

//     // When add address button is clicked, show the form to add addresses
//     // $("#add-address-btn").on("click", showAddressForm);
    
//     // Process landlord when add landlord form is submitted
//     $("#add-landlord-form").on("submit", addLandlord);

//     // Process address when add address button is submitted
//     $("#add-address-form").on("submit", addAddress);



//     function displayResultsMessage(results) {
//       alert(results);
//     }

//     $('#modal-review-form').on('submit', function (evt) {
//       evt.preventDefault();
//       var inputs = $('#modal-review-form').serialize();
//       $.post('/process-rating2.json', inputs, displayResultsMessage);
//     })
// </script>

{% endblock %}

{% block pagescripts %}
  <script>
    $.get('/get_recent_reviews', displayReviews);
  </script>

<script>
    // Functions having to do with the map
    // Initialize the map
    // L.mapbox.accessToken = 'pk.eyJ1Ijoibm1hcmdvbGlzODkiLCJhIjoiY2lnbXZlem9xMDAzdDZjbTM4a2tteXdzMSJ9.j6aj2wMzUUb8FZR1XMBiBg';

    // var map = L.mapbox.map('map', 'nmargolis89.e7f7fef4')
    //   .setView([37.7871, -122.4216], 12);

    var myLayer = L.mapbox.featureLayer().addTo(map);

    // Add geocoder search input
    var geocoderControl = L.mapbox.geocoderControl('mapbox.places', {
                                                    keepOpen: true,
                                                    autocomplete: true
                                                    });
    geocoderControl.addTo(map);
    $('.leaflet-control-mapbox-geocoder-form input').attr('placeholder', 'Search by address');
    $('.leaflet-control-mapbox-geocoder-form input').addClass('form-control');

    // Request addresses as GeoJSON and add to map
    $.get('/all_addresses.json', createLayer);

    function createLayer(results) {
      var geojson = results.features;
      myLayer.setGeoJSON(geojson);
      myLayer.eachLayer(function(place) {
        var properties = place.feature.properties;
        var popup = '<h3>Address</h3><div>' + properties.address + '<br>'
          var landlords = properties.landlords;
          for (var i = 0; i < landlords.length; i++) {
            // if (reviews.hasOwnProperty(reviews[i])) {
              popup += '<br><b>Landlord: <a href="/landlord/' + landlords[i].landlordID +'">' + landlords[i].firstName + ' ' + landlords[i].lastName +'</a></b><br>Average rating: ' + landlords[i].averagerating || 'No ratings yet';
            // }
            
          }

        place.on('click', function() {
            // center the map on the selected marker.
            map.setView(place.getLatLng(), 12);
        });

        popup += '</div>';
        place.bindPopup(popup);
      });
    }


    function processGeocodeSelect(res) {
      console.log(res);

      //TO DO: Handle if user presses enter instead of selecting from results
      //TO DO: Close all tooltips that may be open

      // Put selected place name in the input field
      input = $('.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input ');

      input.val(res.feature.place_name);

      var resAddress = res.feature.address + ' ' + res.feature.text;
      // console.log(resAddress);
      var city = res.feature.context[1].text;
      // console.log(city);
      var state = res.feature.context[3].text;
      // console.log(state);

      var address = { street: resAddress, city: city, state: state };

      $.get('/lookup-by-address.json', address, showLandlords);

      var found = false;
      var msg = 'There are no reviews for that address.';

      // If a marker that matches the feature exists, open the tooltip
      myLayer.eachLayer(function(place) {
          // close any open popups
          place.closePopup();
          if (resAddress == place.feature.properties.address) {
            map.setView(place.getLatLng(), 11);
            place.openPopup();
            found = true;
            msg = '';
          }
      });
      console.log(msg);
      if (msg != '') {
        alert(msg);
      }
    }


    // When a user selects the location, show it as a point on the map
    geocoderControl.on('select', processGeocodeSelect);
    // geocoderControl.on('autoselect', processGeocodeSelect);
    
  </script>
{% endblock %}