{% extends 'base.html' %}
{% block title %}Landlord{% endblock %}
{% block styles %}
    <style>
        .map {
            border-left:1px solid #fff;
            width:100%;
            height:500px;
            top:0;
            bottom:0;
        }
    </style>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">

        <h1>{{ landlord.fname }} {{ landlord.lname }}</h1>

         <!-- <h3>Rate {{ landlord.fname }} {{ landlord.lname }}</h3> -->

        {% if 'user' in session %}
          <button type="button" id="btn-rate-this-landlord" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalRatingForm">
          Rate {{ landlord.fname }} {{ landlord.lname }}
          </button>

          <script>
            $('#btn-rate-this-landlord').on('click', function() {
              var fname = "{{landlord.fname}}";
              var lname = "{{landlord.lname}}";
              var landlordID = "{{landlord.landlord_id}}";
              $('#fname-field-review').val(fname);
              $('#lname-field-review').val(lname);
              $('#hidden-landlord-id').val(landlordID);
            });
          </script>


        {% else %}
          <p>You must be logged in to rate a landlord. Please <a href="/login">log in.</a></p>
        {% endif %}
        

        <h3>Landlord reviews</h3>
        {% for review in landlord.reviews %}
          <article>
          User: {{ review.user_id }} <br><!-- To Do: Make this a link to the user's profile -->
          Address: {{ review.address.street }}<br> <!-- To Do: add more address info -->
          Created at: {{ review.created_at }}<br>

          <span class = "rating">rating1: {{ review.rating1 }}<br></span>
          <span class = "rating">rating2: {{ review.rating2 }}<br></span>
          <span class = "rating">rating3: {{ review.rating3 }}<br></span>
          <span class = "rating">rating4: {{ review.rating4 }}<br></span>
          <span class = "rating">rating5: {{ review.rating5 }}<br></span>
          <p class = "comment">comment: {{ review.comment }}</p>

          {% if 'user' in session %}
            {% if session['user'] == review.user_id %}
              <b>*** This is your review ***</b>
            {% else %}
               <a href="/send-message/{{ review.user_id }}"><button id="send-message">Message this user</button></a>
            {% endif %}
         
          {% else %}
          <a href="/login"><button>Log in to message this user</button>
          {% endif %}
          </article>
          <hr>

        {% endfor %}

      </div> <!-- close col containing content -->

      <div class="col-xs-12 col-md-8 col-lg-8"> 
        <div id="map" class="map"></div> 
      </div> <!-- close col containing map -->

    <script>
           // Initialize the map
    L.mapbox.accessToken = 'pk.eyJ1Ijoibm1hcmdvbGlzODkiLCJhIjoiY2lnbXZlem9xMDAzdDZjbTM4a2tteXdzMSJ9.j6aj2wMzUUb8FZR1XMBiBg';

    var map = L.mapbox.map('map', 'mapbox.streets')
      .setView([37.7871, -122.4216], 12);

    var myLayer = L.mapbox.featureLayer().addTo(map);


    // Request addresses as GeoJSON and add to map
    $.get('/get_landlord_geojson.json?landlord-id=' + {{landlord.landlord_id}}, createLayer);

    function createLayer(results) {
      var geojson = results.features;
      console.log(geojson);

      if (geojson.features) {
      myLayer.setGeoJSON(geojson);
      
      // Fit the bounds of the map to show all reviews for the landlord
      map.fitBounds(myLayer.getBounds(), {maxZoom: 12});

      // Iterate through each marker to populate the popup
      myLayer.eachLayer(function(place) {
        var properties = place.feature.properties;
        var popup = '<h3>Address</h3><div>' + properties.address + '<br>'
          var landlords = properties.landlords;
          for (var i = 0; i < landlords.length; i++) {
            // if (reviews.hasOwnProperty(reviews[i])) {
              // console.log(landlords[i]);
              popup += '<br><b>Landlord: <a href="/landlord/' + landlords[i].landlordID +'">' + landlords[i].firstName + ' ' + landlords[i].lastName +'</a></b><br>Average rating: ' + landlords[i].averagerating;
            // }
            
          }

        place.on('click', function() {
            // center the map on the selected marker.
            map.setView(place.getLatLng(), 12);
        });

        popup += '</div>';
        place.bindPopup(popup);
      });
    }
    }

  </script>



{% endblock %}