{% extends 'base.html' %}
{% block title %}Lookup{% endblock %}
{% block styles %}
    <style>
        .map { position:relative; top:0; bottom:0; width:50%; height: 500px; float:right; }
        .hide {display:none;}
    </style>
{% endblock %}
{% block content %}
    <h1>Lookup a Landlord</h1>
    <div>
        <div id='map-one' class='map'> </div>
    </div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1Ijoibm1hcmdvbGlzODkiLCJhIjoiY2lnbXZkZ3pwMDA0NG5ra280cmI4MzlwaCJ9.HHElSYk4EV_D2Jeg4gLJfg';
        L.mapbox.map('map-one', 'mapbox.streets').setView([37.7871, -122.4216], 13);
    </script>

    <form id="search-by-address">
        <label>Enter street:</label>
        <input type="text" id="street-field" name="street" placeholder="1234 Main St"></input><br>
        <label>Enter city:</label>
        <input type="text" id="city-field" name="city" placeholder="San Francisco"></input><br>
        <label>Enter state:</label>
        <input type="text" id="state-field" name="state" placeholder="California"></input><br>
        <input type="submit" value="Search"></input><br>
    </form><br>
    <form id="search-by-name">
        <label>Enter landlord's first name:</label>
        <input type="text" id="fname-field" name="fname" placeholder="first name"></input><br>
        <label>Enter landlord's last name:</label>
        <input type="text" id="lname-field" name="lname" placeholder="last name"></input><br>
        <input type="submit" vaue="Search"></input>
    </form>



    <div id='results'>
        <button class="hide" id="add-address-btn">Add address</button>
        <button class="hide" id="add-landlord-btn">Add landlord</button>
    </div>
    <div id='add-landlord-div' class='hide'>
        <form id="add-landlord-form">
            <label>Enter landlord's first name:</label>
            <input type="text" id="fname-field-add" name="fname-add" value=""></input>
            <br>
            <label>Enter landlord's last name:</label>
            <input type="text" id="lname-field-add" name="lname-add" value=""></input><br>
            <input type="submit" value="Add landlord"></input>
        </form>

    </div>
    <div id='add-address-div' class='hide'>
        <form id="add-address-form">
            <label>Enter street:</label>
            <input type="text" id="street-field-add" name="street-add" value=""></input><br>
            <label>Enter city:</label>
            <input type="text" id="city-field-add" name="city-add" value=""></input><br>
            <label>Enter state:</label>
            <input type="text" id="state-field-add" name="state-add" value=""></input><br>
             <label>Enter zipcode:</label>
            <input type="text" id="zipcode-field-add" name="zipcode-add" placeholder="00000"></input><br>
             <label>Enter country:</label>
            <input type="text" id="country-field-add" name="country-add" value="United States"></input><br>
            <input type="submit" value="Add address"></input>
        </form>
    </div>

    <script>

        // Functions to lookup by name or address and show list of landlords

        function showLandlords(results) {

            console.log(results);

            if ($.isEmptyObject(results)) {
                $('#results').prepend('Could not find any landlords matching your search.');
                $('#add-landlord-btn').css('display', 'block');
                $('#add-address-btn').css('display', 'block');
                // TO DO: add option to add address or landlord
            }

            // Otherwise display each landlord as a link to the page for that landlord
            else {
                for (var landlordID in results) {
                    if (results.hasOwnProperty(landlordID)) {
                        $('#results').append("<p>Landlord: <a href='/landlord/"+ landlordID + "'> " + results[landlordID]['fname'] + " " + results[landlordID]['lname'] + "</a> </p>");
                    }
                }
            }
        }

        function lookupByAddress(evt) {
            evt.preventDefault();
            var address = $('#search-by-address').serialize();
            console.log(address)
            
            $.get('/lookup-by-address.json', address, showLandlords);
            console.log("Finished sending address");
        }

        function lookupByName(evt) {
            evt.preventDefault();
            var name = $('#search-by-name').serialize();

            $.get('lookup-by-name.json', name, showLandlords);
            console.log("Finished sending name");
        }

        function showAddressForm(evt) {
            console.log("clicked add address button");
            $("#add-address-div").css("display", 'block');
            $("#street-field-add").attr('value', $('#street-field').val());
            $("#city-field-add").attr('value', $('#city-field').val());
            $("#state-field-add").attr('value', $('#state-field').val());
        }

        function showLandlordForm(evt) {
            console.log("clicked add landlord button");
            $("#add-landlord-div").css("display", 'block');
            $("#fname-field-add").attr('value', $('#fname-field').val());
            $("#lname-field-add").attr('value', $('#lname-field').val());
        }

        function addAddress(evt) {
            evt.preventDefault();
            var name = $('#add-address-form').serialize();

            $.post('/add-new-address.json', name, function (results) {
                alert(results);
            });
        }

        function addLandlord(evt) {
            evt.preventDefault();
            var name = $('#add-landlord-form').serialize();

            $.post('/add-new-landlord.json', name, function (results) {
                alert(results);
            });
        }

        $("#search-by-address").on("submit", lookupByAddress);

        $("#search-by-name").on("submit", lookupByName);

         // When add landlord button is clicked, show the form to add landlord
        $("#add-landlord-btn").on("click", showLandlordForm);

        // When add address button is clicked, show the form to add addresses
        $("#add-address-btn").on("click", showAddressForm);
        
        // Process landlord when add landlord form is submitted
        $("#add-landlord-form").on("submit", addLandlord);

        // Process address when add address button is submitted
        $("#add-address-form").on("submit", addAddress);

    </script>

    

{% endblock %}