{% extends 'base.html' %}
{% block title %}Lookup{% endblock %}
{% block styles %}
    <style>
        .map { position:relative; top:0; bottom:0; width:50%; height: 500px; float:right; }
    </style>
{% endblock %}
{% block content %}
    <h1>Lookup a Landlord</h1>
    <div>
        <div id='map-one' class='map'> </div>
    </div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1Ijoibm1hcmdvbGlzODkiLCJhIjoiY2lnbXZkZ3pwMDA0NG5ra280cmI4MzlwaCJ9.HHElSYk4EV_D2Jeg4gLJfg';
        L.mapbox.map('map-one', 'mapbox.streets').setView([37.7871, -122.4216], 13);
    </script>

    <form id="search-by-address">
        <label>Enter street:</label>
        <input type="text" id="street-field" name="street" placeholder="1234 Main St"></input><br>
        <label>Enter city:</label>
        <input type="text" id="city-field" name="city" placeholder="San Francisco"></input><br>
        <label>Enter state:</label>
        <input type="text" id="state-field" name="state" placeholder="California"></input><br>
        <input type="submit" value="Search"></input><br>
    </form><br>
    <form id="search-by-name">
        <label>Enter landlord's first name:</label>
        <input type="text" id="fname-field" name="fname" placeholder="first name"></input><br>
        <label>Enter landlord's last name:</label>
        <input type="text" id="lname-field" name="lname" placeholder="last name"></input><br>
        <input type="submit" vaue="Search"></input>
    </form>

    <div id='results'></div>

    <script>

        function showLandlords(results) {

            console.log(results);

            if ($.isEmptyObject(results)) {
                alert('Could not find any ratings matching your search.')
            }

            for (var landlordID in results) {
                if (results.hasOwnProperty(landlordID)) {
                    $('#results').append("<p>Landlord: <a href='/landlord/"+ landlordID + "'> " + results[landlordID]['fname'] + " " + results[landlordID]['lname'] + "</a> </p>");
                }
            }

        }

        function lookupByAddress(evt) {
            evt.preventDefault();
            var address = $('#search-by-address').serialize();
            console.log(address)
            
            $.get('/lookup-by-address.json', address, showLandlords);
            console.log("Finished sending address");
        }

        function lookupByName(evt) {
            evt.preventDefault();
            var name = $('#search-by-name').serialize();

            $.get('lookup-by-name.json', name, showLandlords);
            console.log("Finished sending name");

        }

        $("#search-by-address").on("submit", lookupByAddress)

        $("#search-by-name").on("submit", lookupByName)

    </script>

    

{% endblock %}