{% extends 'base.html' %}
{% block title %}Map experiment{% endblock %}
{% block styles %}
  <style>
    .map {
    border-left:1px solid #fff;
    position:absolute;
    left:33.3333%;
    width:66.6666%;
    top:0;
    bottom:0;
    }
  </style>
 
{% endblock %}
{% block content %}
    <h1>Map</h1>
    <div id="content">
      <div id="landlords"></div>
    </div>
    <div id="map" class="map"></div>


  <script>
    // Initialize the map
    L.mapbox.accessToken = 'pk.eyJ1Ijoibm1hcmdvbGlzODkiLCJhIjoiY2lnbXZlem9xMDAzdDZjbTM4a2tteXdzMSJ9.j6aj2wMzUUb8FZR1XMBiBg';

    var map = L.mapbox.map('map', 'mapbox.streets')
      .setView([37.7871, -122.4216], 12);

    var myLayer = L.mapbox.featureLayer().addTo(map);

    // Add geocoder search input
    var geocoderControl = L.mapbox.geocoderControl('mapbox.places', {
                                                    keepOpen: true,
                                                    autocomplete: true
                                                    });
    geocoderControl.addTo(map);

    // Request addresses as GeoJSON and add to map
    $.get('/all_addresses.json', createLayer);

    function createLayer(results) {
      var geojson = results.features;
      // console.log(geojson);
      myLayer.setGeoJSON(geojson);
      myLayer.eachLayer(function(place) {
        var properties = place.feature.properties;
        var popup = '<h3>Address</h3><div>' + properties.address + '<br>'
          var landlords = properties.landlords;
          for (var i = 0; i < landlords.length; i++) {
            // if (reviews.hasOwnProperty(reviews[i])) {
              // console.log(landlords[i]);
              popup += '<br><b>Landlord: <a href="/landlord/' + landlords[i].landlordID +'">' + landlords[i].firstName + ' ' + landlords[i].lastName +'</a></b><br>Average rating: ' + landlords[i].averagerating;
            // }
            
          }

          place.on('click', function() {
              // center the map on the selected marker.
              map.setView(place.getLatLng(), 12);
          });

          popup += '</div>';
          place.bindPopup(popup);
        });
    }




    function processGeocodeSelect(res) {
      console.log(res);

      // Put selected place name in the input field
      input = $('.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input ');

      input.val(res.feature.place_name);

      var resAddress = res.feature.address + ' ' + res.feature.text;
      console.log(resAddress);

      var found = false;
      var msg = 'There are no reviews for that address.';

      // If a marker that matches the feature exists, open the tooltip
      myLayer.eachLayer(function(place) {
          if (resAddress == place.feature.properties.address) {
            map.setView(place.getLatLng(), 12);
            place.openPopup();
            found = true;
            msg = '';
          }
      });
      if (msg != '') {
        alert(msg);
      }
    }


    // When a user selects the location, show it as a point on the map
    geocoderControl.on('select', processGeocodeSelect);

    // input = $('.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input ');

    // input.keyup(function (evt) {
    //     if (evt.keyCode == 13) {
    //       console.log('entered');
    //       geocoderControl.on('found', function(res) {
    //         console.log(res);
    //       });

    //     }
    // });


  </script>


{% endblock %}