{% extends 'base.html' %}
{% block title %}Rate{% endblock %}

{% block content %}
   <!--  If logged in, display this -->
    <h1>Rate landlord</h1>

    <form action="/process-rating" method="POST">
        <input type="hidden" name="landlord-id" value="">
        <input type="hidden" name="user-id" value="">
        <label>Maintenance and repairs<br>
            <input type="radio" name="repairs" value="1"> 1<br>
            <input type="radio" name="repairs" value="2"> 2<br>
            <input type="radio" name="repairs" value="3"> 3<br>
            <input type="radio" name="repairs" value="4"> 4<br>
            <input type="radio" name="repairs" value="5"> 5<br>
        </label>
      <input type="submit" value="Submit">
    </form>
    
    <!-- otherwise, link to log in -->

{% endblock %}