{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<h1>Sign up</h1>

    <form action="/process-signup" method="POST">
        <label>First name:</label>
            <input type="text" name="fname" placeholder="firstname"><br>
        <label>Last name:</label>
            <input type="text" name="lname" placeholder="lastname"><br>
        <label>Email: </label>
            <input type="text" name="email" placeholder="yourname@email.com"><br>
        <label>Password: </label>
            <input type="password" name="password" placeholder="yourpassword"><br>
        <input type="submit" value="Sign up">
    </form>

{% endblock %}